.problem {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 45px;
  margin-top: 50px;
}

.problem-title {
  height: 20%;
  width: 100%;
  display: flex;
  padding-left: 10px;
  font-weight: 600;
  font-size: 48px;
}

.problem-statement {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.problem-statement-text {
  position: absolute;
  top: 37%;
  left: 60%;
  right: 10%;
  font-weight: 500;
  font-size: 16px;
}
