.lgimg{
    position: absolute;
    top:0;
    left:0;
    margin-top: 1rem;
    margin-left: 1.5rem;
    cursor: pointer;
    /* margin-left: 20px; */
}
.logincontainer{
    /* padding-top: 1.5rem; */
    /* padding-bottom: 7rem; */
    width: 100%;
    /* height: 100%; */
    /* background-color: aqua; */
    /* height: 32rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(3px);
    /* border:2px solid red; */
   
}
.logincover {
    width: 450px;
    /* height: 550px; */
    height: max-content;
    padding-bottom: 3rem;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    padding-top: 1.5rem;
    margin-top: 5rem;
    /* border: 2px solid red; */
}
.loginheading{
    text-align: center;
    /* padding-right: 2em; */
    /* width: 600px; */
    font-family: 'Poppins', sans-serif;
    color: #003049;
    font-weight:bold;
    font-size: 25px;
    
   margin-top:10px;
   
}
.loginsubcon{
    
   margin: auto;
   margin-top: -3px;
   width: 65%;
   font-size: 12px;
}
.lfullname{
   padding-top: 2px;
}
.lfullname p{
    font-size: 1.3em;
}
.lfullname input{
    width: 100%;
    line-height: 2em;
}

input:focus {
    outline-color:rgb(80, 74, 74);
}

.login-btn:hover { transform: scale(1.05);}

.text {
    position: relative;
    bottom: 0.5%;
}

.hide {
    position: absolute;
    transform: scale(0);
}

.login-popup {
    position: absolute;
    height: 30em;
    width: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.25em;
    background-color: black;
    color: white;
    bottom: 0;
    transform: scale(1);
    transition: 1.5s;
}

.loginsubcon p{
    font-family: sans-serif;
    color: #2C2929;
    font-weight: 550;
}
.forgot{
    text-align: right;
    font-weight: 600;
    color: rgba(20, 102, 144, 1);
    font-family: 'Poppins', sans-serif;
    font-size: small;
    margin-top: 0.2em;
}
.login{
    /* background-color: blue; */
    margin-top: 10px;
    width: 100%;
    font-size: 15px;
    /* text-align: center; */
    font-family: 'Poppins', sans-serif;
    text-align: center;
    /* font-weight:bold; */
}
.login a{
    text-decoration: none;
    color: rgba(0, 48, 73, 1);
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
p.error-text{
    color: red;
}

.new-message-box {
    /* margin:  0; */
    padding-left: 20px;
    margin-bottom: 25px!important;
}

.new-message-box p{
    font-size: 1em;
    font-weight: 600;
}

.info-tab {
    width: 40px;
    height: 30px;
    display: inline-block;
    position: relative;
    top: 8px;
}

.info-tab {
    float: left;
    margin-left: -23px;
}

.info-tab i::before {
    width: 24px;
    height: 24px;
    box-shadow: inset 12px 0 13px rgba(0,0,0,0.5);
}

.info-tab i::after {
    width: 0;
    height: 0;
    /* border: 12px solid transparent; */
    border-bottom-color: #fff;
    border-left-color: #fff;
    bottom: -18px;
}

.info-tab i::before, .info-tab i::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -17px;
    transform: rotateX(60deg);
}

 .tip-box-success, .tip-box-danger {
    padding: 8px 8px 3px 26px;
}

.new-message-box-success {
    background: #eeeeee;
    padding: 3px;
    margin: 8px 0;
}

.tip-icon-success {
    background: #8BC34A;
}

.tip-box-success {
    color: #33691E;
    background: #DCEDC8;
}

.tip-icon-success::before {
    font-size: 20px;
    content:"\f00c";
    top: 8px;
    left: 11px;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    color: white;
}

.tip-icon-success i::before {
    background: #8BC34A;
}

.new-message-box-danger {
    background: #eeeeee;
    padding: 3px;
    margin: 10px 0;
}

.tip-icon-danger {
    background: #f44336;
}

.tip-box-danger {
    color: #b71c1c;
    background: #FFCCBC;
}

.tip-icon-danger::before {
    font-size: 20px;
    content:"\f00d";
    top: 8px;
    left: 11px;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    color: white;
}

.tip-icon-danger i::before {
    background: #f44336;
}
.dark-btn{
    width: 100%;
    height: 3em;
    background-color: #003049;;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 0.25em;
    cursor: pointer;
    margin-top: 2em;
    color: white;
    font-weight: 600;
    line-height: 1.5em;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;    
}