.navbar {
  height: 10%;
  /* border: 2px solid white; */
  display: flex;
  justify-content: space-between;
  /* width: 20rem; */
  width: 100%;
  align-items: center;
  /* margin-leftt: 1rem; */
  padding-right: 2em;
  padding-left: 3rem;
}
.navbar-dp {
  border-radius: 50%;
}
.navbar-logo img {
  /* margin-right: 1rem; */
  width: 10rem;
  /* border: 2px solid red; */
  cursor: pointer;
}
.list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* width: 3rem; */
  /* border: 2px solid yellow; */
  list-style: none;
}
.navbar-li {
  width: 15%;
}
.list li {
  cursor: pointer;
}

.profile {
  height: 100%;
  width: 100%;
}
.container-left {
  width: 30%;
  /* border: 2px solid yellow; */
  /* background-color: pink; */
  height: 100%;
}
.profile-container {
  width: 100%;
  background-color: #fff;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
.dp {
  /* padding: 2rem; */
  margin-left: 4rem;
  margin-right: 2rem;
  margin-top: 3rem;
  height: 30%;
  width: 60%;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid black;
}
.info {
  margin: 3rem;
  /* background-color: orange; */
  padding: 1.5rem;
  /* text-align: center; */
}
.info div {
  margin-bottom: 1rem;
}
.name {
  font-weight: bold;
}
.edit {
  width: 80%;
  height: 3rem;
  font-weight: bold;
  align-items: center;
  border-radius: 0.5em;
  cursor: pointer;
  color: #003049;
  border: 3px solid #003049;
}
.container-right {
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
  width: 70%;
  padding-top: 1rem;
  padding-left: 4rem;
}
/* .container{ */
/* border: 2px solid black; */
/* background-color: aqua; */
/* } */
.heading-container h2 {
  font-family: "Poppins", sans-serif;
}
/* .heading-container{
    flex: 1;
} */
/* .achievements-container{
    flex: 3;
} */
.streak-container {
  flex: 2;
}
.email-container {
  flex: 1;
}
.address-container {
  flex: 1;
}
.container-right-bottom {
  /* border: 2px solid yellow; */
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  justify-content: space-around;
}
