.home{
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 1rem;
    padding-bottom: 0;
    min-height: calc(100vh - 5rem);
}
